<h1>Communicating the Card: Assistant Instructions</h1>
<ul>
  <li>Ask audience for five numbers between 1 and 100 (inclusive).</li>
  <li>Type these numbers below, comma separated. (e.g. 27, 87, 93, 23, 59)</li>
  <li>
    <%= form_tag(url: "/search", method: "get") do |f| %>
      <%= label_tag(:audience_numbers, "Audience numbers:") %>
      <%= text_field_tag(:audience_numbers, @audience_numbers_text) %>
      <%= submit_tag("Compute!") %>
    <% end %>
  </li>
  <li><b><%= @assistant_list %></b> ← (Once you hit "Compute!", <b>four</b> of the numbers should appear here.)</li>
  <li>Read the four numbers to me in the order that they appear.</li>
</ul>
<br>
<br>
<br>
<h1>Communicating the Card: Magician Instructions</h1>
<ul>
  <li>Enter assistant's numbers below, comma separated. (e.g. 59, 87, 27, 23)</li>
  <li>
    <%= form_tag(url: "/search", method: "get") do |f| %>
      <%= label_tag(:ordered_sequence_from_assistant, "Assistant's numbers:") %>
      <%= text_field_tag(:ordered_sequence_from_assistant, @assistant_numbers_text) %>
      <%= submit_tag("Compute!") %>
    <% end %>
  </li>
  <li><b><%= @magician_number %></b> ← (Once you hit "Compute!", <b>one</b> number should appear here.)</li>
  <li>Read the four numbers to me in the order that they appear.</li>
</ul>
