<div class = "canvas">
	<canvas id="square_game_canvas" tabindex=1></canvas>
	<br> This is a new <a href="http://oeis.org/">OEIS</a> sequence!

 	<%= form_for SquareGame.new do |f| %>
		<%= f.hidden_field :vertices, size:1 %> <!-- FIXME hidden_field -->
		<%= f.hidden_field :level, size:1 %>
		<%= f.hidden_field :max_a, size:1 %>
		<%= f.hidden_field :max_b, size:1 %>
		<%= f.hidden_field :solution, size:30 %>
		<div id = "connections"> 
			<lh id="connect"><b> Connections </b></lh><br>
			<%= text_area(:alec, :notes, rows: 12) %>
		</div>
	<% end %>

	<%= javascript_include_tag 'square_game' %>
	<%= "<script>initialize_everything(#{@jshash});</script>".html_safe %>
</div>
<div id = "instructions">
	<lh id="instr"><b> Instructions </b></lh>
	<p id="instructions_paragraph">
		Here's how you play:<br>
		Connect every number to every other number in as few circles as possible. <br>
		Click on a link under "Best Solutions" for some examples. <br>
		The circle in the left hand corner records the highest number that is fully connected. <br>
		The circle to the right of that records how many circles are in play.<br>
		The "S" button will allow you to submit your score and update the high-scores table.<br>
		The circles in the right hand corner let you change how high you can select.<br>
		Right clicking on a circle will remove it.
	</p>
</div>