<div class = "canvas">
	The game currently works Chrome 38 and Safari 8.
	<canvas id="square_game_canvas" tabindex=1></canvas>
	<br> This is a new <a href="http://oeis.org/">OEIS</a> sequence!

 	<%= form_for SquareGame.new do |f| %>
		<%= f.hidden_field :vertices, size:1 %> <!-- FIXME hidden_field -->
		<%= f.hidden_field :level, size:1 %>
		<%= f.hidden_field :max_a, size:1 %>
		<%= f.hidden_field :max_b, size:1 %>
		<%= f.hidden_field :solution, size:30 %>
		<div id = "connections"> 
			<lh id="connect"><b> Connections </b></lh><br>
			<%= text_area(:alec, :notes, rows: 12) %>
		</div>
	<% end %>

	<%= javascript_include_tag 'square_game' %>
	<%= "<script>initialize_everything(#{@jshash});</script>".html_safe %>
</div>
<div id = "instructions">
	<lh id="instr"><b> Instructions </b></lh>
	<p id="instructions_paragraph">
		Connect every number up to N to every smaller number using as few circles as possible. <br>
		(The links under "Best Solutions" contain some examples.) <br>
		Clicking will decrease the value in a circle and right clicking will increase the value in a circle. <br>
		You can click and drag to move circles. <br>
		If you type any letter while your mouse is over a cirle, it will remove the value inside. <br>
		The circle in the left hand corner records the highest number that is fully connected. <br>
		The circle to the right of that records how many circles are in play.<br>
		The "S" button will allow you to submit your score and update the high-scores table.<br>
		The number in the right hand corner will let you change how high you can select.<br>
	</p>
</div>