<div class = "canvas">
  <canvas id="square_game_canvas" tabindex=1></canvas>
  <%= form_for SquareGame.new do |f| %>
    <%= f.hidden_field :vertices, size:1 %> <!-- FIXME hidden_field -->
    <%= f.hidden_field :level, size:1 %>
    <%= f.hidden_field :max_a, size:1 %>
    <%= f.hidden_field :max_b, size:1 %>
    <%= f.hidden_field :solution, size:30 %>
  <% end %>

  <%= javascript_include_tag 'square_game_header' %>
  <%= javascript_include_tag 'square_game' %>
  <%= javascript_include_tag 'square_game_event_listeners' %>
  <%= "<script>initialize_everything(#{@jshash});</script>".html_safe %>
</div>

<p>
  This is a <a href="https://oeis.org/search?q=2,4,6,9,12,15,19,_,30">new OEIS sequence</a>!
</p>
<p>
  Found a bug? Please report it on <a href="https://github.com/PeterKagey/circle-games/issues">GitHub</a>!
</p>


<div id = "connections">
  <lh id="connect"><b> Connections </b></lh><br>
  <%= text_area(:alec, :notes, rows: 20) %>
</div>

<div id = "instructions">
  <lh id="instr"><b> Instructions </b></lh>
  <ul id="instructions_paragraph">
    <% rules = %(
      The goal of this game is to connect all "colors" (numbers 1..N) of a graph restricted to a square tiling—using the fewest number of vertices possible.
      In other words, for every n ≠ m, there needs to be a circle with n connected to a circle with m.
      (The links under "Best Solutions" contain some examples.)
      Clicking on a vertex will decrease the value in the circle and right clicking will increase the value in a circle.
      You can move vertexes by clicking and dragging.
      If you type any character while your mouse is over a vertex, it will delete the vertex.
      The circle in the upper-left corner gives the color of the greatest sub-graph that is fully connected.
      The circle to the right of that records the "size" of the graph: the number of vertices in play.
      The red edges denote colors that are twice-connected.
      The "S" button will allow you to save your solution and update the high-scores table.
      The number in the upper-right corner will let you adjust the maximum labelling for a vertex.
    ) %>
    <% rules.strip.split("\n").each do |rule| %>
      <li><%= rule %></li>
    <% end %>
  </ul>
</div>
