<div class = "canvas">
	<canvas id="game_canvas"></canvas>
	<br> This is a new OEIS sequence!

 	<%= form_for Game.new do |f| %>
		<%= f.hidden_field :vertices, size:1 %> <!-- FIXME hidden_field -->
		<%= f.hidden_field :level, size:1 %>
		<%= f.hidden_field :max_a, size:1 %>
		<%= f.hidden_field :max_b, size:1 %>
		<%= f.hidden_field :solution, size:30 %>
		<%= text_area(:alec, :notes, rows: 15) %>
		<%#= f.submit %>
	<% end %>
	<%= javascript_include_tag 'games' %>
	<% sol = params[:id].blank? || Game.find(params[:id]).blank? ? "" : Game.find(params[:id]).solution || ""%>
	<% a_wid = params[:id].blank? || Game.find(params[:id]).blank? ? 0 : Game.find(params[:id]).max_a || 0%>
	<% a_shft = params[:id].blank? || Game.find(params[:id]).blank? ? 0 : Game.find(params[:id]).start_a || 0%>
	<% b_shft = params[:id].blank? || Game.find(params[:id]).blank? ? 0 : Game.find(params[:id]).start_b || 0%>
	
	<%= "<script>initialize_everything('#{sol}', #{a_shft}, #{b_shft}, #{a_wid}, 0);</script>".html_safe %> <!-- COULD THIS BE MORE HACKISH?! -->
</div>
<div id = "instructions">
	Here's how you play:<br>
	Connect every number to every other number in as few circles as possible. <br>
	Click on a link under "Best Solutions" for some examples. <br>
	The circle in the left hand corner records the highest number that is fully connected. <br>
	The circle to the right of that records how many circles are in play.<br>
	The "S" button will allow you to submit your score and update the high-scores table.<br>
	The circles in the right hand corner let you change how high you can select.<br>
	Right clicking on a circle will remove it.
</div>
