<title>PK | Game</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- <div class = "protector"></div> -->

<!-- <div class = "header">
	<div id = "title"> Website </div>
	<div id = "links"> A :: Few :: Miscellaneous :: Links :: &c. </div>
</div>

<div class = "header2">
	<div id="foo"> Div Header</div>
</div>
 -->
<div class = "left_paragraph">
	<canvas id="game_canvas" onclick = "click_function()"></canvas>
	<%= form_for @game do |f| %>
		<%= f.hidden_field :vertices, size:1 %> <!-- FIXME hidden_field -->
		<%= f.hidden_field :level, size:1 %>
		<%= f.hidden_field :max_a, size:1 %>
		<%= f.hidden_field :solution, size:30 %>
		<%#= f.submit %>
	<% end %>
	<%= javascript_include_tag 'games' %>
</div>
<div class = "right_paragraph">
	<ul plain>
		<lh><b> Records </b></lh>
		<% a123663 =[0, 1, 2, 4, 5, 7, 8, 10, 12, 13, 15, 17, 18, 20, 22, 24, 25, 27, 29, 31, 32, 34, 36, 38, 40, 41, 43, 45, 47, 49, 50, 52, 54, 56, 58, 60, 61, 63, 65, 67, 69, 71, 72, 74, 76, 78, 80, 82, 84, 85, 87, 89, 91, 93, 95, 97, 98, 100, 102, 104, 106, 108, 110, 112, 113, 115, 117, 119] %>
		<% lowest_level = Game.all.order(:level).first.level %>
		<% highest_level = Game.all.order(:level).last.level %>
		<% for i in (lowest_level..highest_level)%>
			<% best_game = Game.where(level:i).order(:vertices).first.try(:vertices) %>
			<%= "<li> #{a123663[i]} ≤ f(#{i}) ≤ #{best_game} </li>".html_safe if best_game %>
		<% end %>
	</ul>
</div>
