<body>
  <h1> Hi! I'm Peter. </h1>
  <img src="http://www.gravatar.com/avatar/7c79fd2d283f8c80bb9de85a47b544ce?s=250">
  <h2>
    <a href="https://www.github.com/peterokagey/haskellOEIS">Github</a> ::
    <a href="https://twitter.com/PeterKagey">Twitter</a> ::
    <a href="https://www.linkedin.com/in/peterkagey">LinkedIn</a> ::
    <a href="https://oeis.org/search?q=_Peter+Kagey_&sort=created">OEIS</a> ::
    <a href="mailto:peterkagey@gmail.com">Email</a> ::
    Nil
  </h2>
  <ul class = "no_bullets">
    <h2> Here's the stuff I've played around with:</h2>
    <li><%= link_to "Square Games", square_games_path %></li>
    <li><%= link_to "Triangle Games", triangle_games_path %></li>
    <li><%= link_to "Conway's Game of Life", "conways_game_of_life#show" %></li>
    <li><%= link_to "'Maze' Generator", "mazes#show" %></li>
    <li><%= link_to "Tree Generator", "tree_generator#index" %></li>
    <li><%= link_to "Communicating the Card", "card_trick#index" %></li>
    <li><a href="https://github.com/peterkagey/OpenishProblems/raw/master/v2/mainfile.pdf">Open(ish) Problems</a></li>
  </ul>
</body>
